html,
body {
  font-size: 15px;
  line-height: 1.5294717647;
  font-weight: 400;
  letter-spacing: -0.021em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: white;
  color: #333;
  font-style: normal;
}
